/* ---------------- NAVBAR ---------------- */
#navbar-div {
  box-shadow: 0px 2px 5px 0px #9A9D9D;
  width: 100%;
}

nav {
  width: 100%;
  height: 3.5em;
  padding: 10px;
  text-align: center;
  word-spacing: 15em;
  /* give space between navbar icons */
}

#inlo-banner {
  width: 100px;
  height: 27px;
  color: #00D0A7;
  float: left;
}

.right-nav-icons {
  width: 27px;
  height: 24px;
  color: gray;
  float: right;
  padding: 2px;
  margin-right: 50px;
  filter: grayscale(100%);
}

#side-menu {
  float: right;
}
/* ---------------- NAVBAR END ---------------- */

#prompt {
  text-align: center;
  margin-top: 200px;
  display:none;
}


/* ---------------- VIEW SWITCHER BUTTONS ---------------- */
#page-title {
  display: inline-block;
  margin-right: 225px;
}
#views-div {
  text-align: center;
}
#list-view-btn, #map-view-btn {
  text-align: center;
  font-size: 12px;
  width: 50px;
  height: 25px;
  border: none;
  background-color: transparent;
  margin-top: 30px;
}
#list-view-btn:focus, #map-view-btn:focus {
  border-bottom: 1px solid black;
  outline: none;
  font-weight: bold;
}
.views-icons {
  width: 10px;
  height: 8px;
  float: left;
  margin-top: 4px;
}
#views-div {
  margin-left: 0px;
}

#sort-by-text {
  display: inline-block;
}
#sort-selection {
  background-color: white;
  border: none;
  font-weight: bold;
  margin-right: 275px;
}

/* ---------------- ITEMS LISTED DIV ---------------- */

#items-listed-div {
  text-align: center;
  //display: none; // hide on page load
}

#items-listed {
  width: 400px;
  display: inline-block;
  text-align: center;
  padding-right: 10px; // pushes scroll bar a little bit to the right
}
#items-listed-content {
  /*overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 7px;
    height: 5px;
    border-radius: 50px;
  }

  &::-webkit-scrollbar-track {
    width: 7px;
    height: 5px;
    background-color: #D8D8D8;
    border-radius: 50px;
  }

  &::-webkit-scrollbar-thumb {
   background-color: #00D0A7;
   border-radius: 10px;

   &:hover {
    background: #00D0A7;
   }
  }*/
}


.item-names {
  float: left;
}


.item-rooms {
  float: right;
}

.item-rows {
  padding: 25px;
  height: 75px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 1px #9A9D9D;
}


/* ---------------- MAP VIEW DIV ---------------- */
#map-view-div {
  text-align: center;
}
#map-view-text {
  display: none; // hide on page load
  margin-top: 200px;
}